Source: kinect-audio-setup
Maintainer: Antonio Ospite <ao2@ao2.it>
Section: contrib/sound
XS-Autobuild: no
Priority: extra
Build-Depends: debhelper (>= 9),
               po-debconf,
               libusb-1.0-0-dev,
               pkg-config
Standards-Version: 3.9.5
Vcs-Browser: http://git.ao2.it/kinect-audio-setup.git/
Vcs-Git: git://git.ao2.it/kinect-audio-setup.git -b debian
Homepage: http://git.ao2.it/kinect-audio-setup.git/

Package: kinect-audio-setup
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         debconf,
         udev,
         wget,
         p7zip-full (>= 9.20)
Description: Microsoft Kinect sensor audio setup helpers
 When the Kinect sensor is first plugged in, its audio input device shows
 up as a generic USB device; after the appropriate firmware is loaded, the
 device is reset and it becomes available as a USB Audio Class (UAC)
 device.
 .
 Since the firmware is not redistributable, kinect-audio-setup provides
 tools to download it from the Internet at installation time, and sets up
 udev rules to call the firmware loader when the device is plugged in to
 finally get the UAC device.
 .
 The UAC firmware is downloaded from the Microsoft Kinect Software
 Development Kit at http://www.microsoft.com/en-us/kinectforwindows/, the
 license of which can be found at
 http://www.microsoft.com/en-us/kinectforwindows/develop/sdk-eula.aspx
